.topoCrud {
   background-color: #dddddd;
   padding: 20px;
   max-height: 60px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.btnDeslogar {
   position: absolute;
   cursor: pointer;
   border: none;
   font-size: 16px;
   background-color: #ad0000;
   color: white;
   padding: 10px 20px;
   height: 60px;
   right: 0;
}

.nomeHeader {
   color: black;
   font-size: 22px;
}

/*----------------------- READ -----------------------*/

.tabelaProdutos {
   margin: auto;
   text-align: start;
   width: 65%;
   height: 100%;
   margin-top: 100px;
}

th, td {
   text-align: start;
   padding: 15px;
   max-width: 200px;
   border: none;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

tr:hover {
   background: #888888;
}

th {
   background: #0051ad;
   color: white;
}

.itemProduto {
   cursor: pointer;
   margin-bottom: 20px;
   width: 100%;
   padding: 12px;
   background: #dddddd;
}

.itemProduto h1 {
   font-size: 18px;
}